<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

	<!-- bean definitions here -->
	<!-- created object of Address class by using the XML file -->
	<bean id="address1" class="mySpringProject.Utility.Address">
		<property name="location" value="New Delhi"></property>
		<property name="pincode" value="110001"></property>
	</bean>

	<bean id="pobj" class="mySpringProject.Utility.Productinfor">

		<property name="pName" value="iphone 16"></property>
		<property name="pId" value="101"></property>
		<property name="price" value="1202"></property>
	</bean>
	<bean id="pobj1" class="mySpringProject.Utility.Productinfor">

		<property name="pName" value="iphone 16 max"></property>
		<property name="pId" value="102"></property>
		<property name="price" value="1205"></property>
	</bean>


	<bean id="oobj1" class="mySpringProject.Utility.OrderInfo">

		<property name="OId" value="101">
		</property>
		<property name="oList">
			<list>
				<value>Iphone</value>
				<value>Oppo</value>
				<value>Realkme</value>
				<value>Lenevo</value>
			</list>
		</property>
	</bean>





</beans>